In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv(r"C:\Users\Chapman\Data Analyst Project Folder\Machine Learning\creditcard.csv")

In [4]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

In [12]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [13]:
fruadulent_trans=df.query('Class==1')
real_trans=df.query('Class==0')

In [14]:
real_trans['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
fruadulent_trans['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Data Sampling

In [17]:
new_sample_real_trans=real_trans.sample(n=492)
new_df=pd.concat([new_sample_real_trans,fruadulent_trans])
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
x=new_df.drop(['Class'],axis=1).values
y=new_df['Class'].values

## Splitting Data into Trainning Data and Testing Data

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,stratify=y,random_state=22)

## Accuracy Score on Training Data

In [23]:
model=LogisticRegression()
model.fit(x_train,y_train)
predict=model.predict(x_train)
score=accuracy_score(predict,y_train)
score

0.9220338983050848

## Accuracy Score on Testing Data

In [24]:
model=LogisticRegression()
model.fit(x_train,y_train)
predict=model.predict(x_test)
score=accuracy_score(predict,y_test)
score

0.9191919191919192

## Predictive System to double check

In [28]:
input=x_test[20]
input=input.reshape(1,-1)
predict=model.predict(input)
print(predict)
print(y_test[12])

[1]
1

In [29]:
x_test[12]

array([ 2.72520000e+04, -2.59424344e+01,  1.46019980e+01, -2.73686503e+01,
        6.37839461e+00, -1.91040334e+01, -4.68480620e+00, -1.82613929e+01,
        1.70525663e+01, -3.74260501e+00, -8.23372137e+00,  4.66483625e+00,
       -6.52566786e+00,  9.23758589e-01, -6.32597461e+00, -7.02237028e-02,
       -5.83836022e+00, -1.20616957e+01, -4.77334851e+00,  8.52969608e-01,
        1.66730429e+00,  1.78431598e+00, -1.91775921e+00, -1.23578744e+00,
        1.61104732e-01,  1.82037804e+00, -2.19359059e-01,  1.38878576e+00,
        4.06809650e-01,  9.99900000e+01])